:root {
    --title-color: #292F36;
    --menu-color: #CDA274;
    --text-color: #4D5053;
    --color: #FFF;
    --bcg-color: #F4F0EC;     
}

/* font-family: "Inter", sans-serif;
font-family: "DM Serif Display", serif;
font-family: "Jost", sans-serif; */

h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

  }

  img {
    display: block;
  }

body {
    font-family: "Jost", sans-serif;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

/* Хедер */

.header {
    padding-top: 20px;
    padding-bottom: 18px;
}

.header-box {
    display: flex;
    gap: 484.98px;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 177px;
    height: 50px;
    flex-shrink: 0;
    gap: 8px;
}

.header-title {
    font-size: 40px;
    font-family: "DM Serif Display", serif;
    color: var(--title-color);
}

.header-img {
    width: 33.998px;
}

.header-items {
    display: flex;
    width: 538.016px;
    height: 62px;
    padding: 12px 0px 19px 20.016px;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.header-link {
    color: var(--title-color);
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.4px;
}

.header-home {
    color: var(--menu-color);
}

.header-link:nth-child(2) {
    font-size: 19px;
}

.header-link:hover,
.header-link:focus {
    color: var(--menu-color);
}

/* Меін */

.hero {
    background-image: url(../img/create.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 260px;
}

.hero-title {
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.22px;
    width: 595px;
    margin-bottom: 19px;
}

.hero-text {
    color: var(--text-color);
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 577px;
}

.hero-btn {
    display: flex;
    align-items: center;
    background-color: var(--title-color);
    border: none;
    border-radius: 20px;
    font-family: Jost;
    padding: 18px 20px 17px 34px;
    gap: 27px;
    margin-top: 35px;
}

.hero-btn-title {
    color: var(--color);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.72px;
    width: 106px;
}

.hero-btn-img {
    width: 25px;
    height: 36px;
}

.designflooringfurniter {
    padding-top: 100px;
    padding-bottom: 100px;
}

.designflooringfurniter-items {
    display: flex;
    flex-shrink: 0;
}

.designflooringfurniter-item {
    text-align: center;
    padding-top: 75px;
    padding-right: 41px;
    padding-left: 42px;
    padding-bottom: 70px;
}

.designflooringfurniter-title {
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.22px;
    width: 174px;
    margin-left: 71px;
    margin-right: 72px;
}

.designflooringfurniter-text {
    color: var(--text-color);
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 317px;
}

.designflooringfurniter-link {
    display: flex;
    width: 320px;
    padding: 20px 98px 0px 98px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 48px;
}

.designflooringfurniter-span {
    color: #4D5053;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.36px;
}


.about-us-title {
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.22px;
    width: 450px;
}

.about-us-text {
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    letter-spacing: 0.22px;
    width: 531px; 
}

.about-us-link::before {
    background-image: url(../img/phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: var(--bcg-color);
    border-radius: 50%;
    padding-top: 29px;
    padding-right: 29px;
    padding-left: 30px;
    padding-bottom: 30px;
}

/* Футер */