:root {
    --title-color: #292F36;
    --menu-color: #CDA274;
    --text-color: #4D5053;
    --color: #FFF;
    --bcg-color: #F4F0EC;     
}

/* font-family: "Inter", sans-serif;
font-family: "DM Serif Display", serif;
font-family: "Jost", sans-serif; */

h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

  }

  img {
    display: block;
  }

body {
    font-family: "Jost", sans-serif;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}
