:root {
    --title-color: #292f36;
    --menu-color: #cda274;
    --text-color: #4d5053;
    --color: #fff;
    --bcg-color: #f4f0ec;
    --btn-color: #292929;
    --border-color: #E7E7E7;
    --line-color: #E5E5E5;
  }