.header {
    padding-top: 20px;
    padding-bottom: 18px;
    position: fixed;
    width: 100%;


    &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }


    &__logo {
      display: flex;
      align-items: center;
      width: 177px;
      height: 50px;
      flex-shrink: 0;
      gap: 8px;
      animation-name: movie-logo;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }


    &__items {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 40px;
    }


    &__item{
      position: relative;
    }


    &__link {
      color: var(--title-color);
      font-family: Jost;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.4px;


      &:hover::after {
        content:"";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 15px;
        background-color: red;
        position: absolute;
        bottom: -30px;
      }


      &:nth-child(2) {
        font-size: 19px;
        line-height: 1.6 ;
      }


      &:hover,
     &:focus {
    color: var(--menu-color);
  }
    }
  }

  @keyframes movie-logo{
    0%{
      transform: scale(0.8);
    }
    100%{
      transform: scale(1.2);
    }
  }