.logos {
    padding-bottom: 115px;
  }
  
  .logos-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logos-item:nth-child(1) .logos-img {
    width: 132px;
    /* margin-right: 125px; */
    fill: #292F36;
  }
  
  .logos-item:nth-child(1) .logos-img:hover {
   fill: #cda274;
  }
  
  .logos-item:nth-child(2) .logos-img {
    width: 103px;
    /* margin-right: 110px;  */
    fill: #292F36;
    background-color: transparent;
  }
  
  .logos-item:nth-child(3) .logos-img {
    width: 164px;
    /* margin-right: 89px;  */
    fill: #292F36;
  }
  
  .logos-item:nth-child(4) .logos-img {
    width: 145px;
    /* margin-right: 112px;  */
    fill: #292F36;
  }
  
  .logos-item:nth-child(5) .logos-img {
    width: 117px;
    height: 48px;
    fill: #292F36;
  }