.projects {
    padding-bottom: 80px;
  }
  
  .projects-title {
    color: var(--title-color);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 47px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.22px;
  }
  
  .projects-text {
    color: var(--text-color);
    text-align: center;
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-top: 20px;
    margin-bottom: 71px;
  }
  
  .projects-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .projects-item {
    flex-basis: calc((100% - 20px) / 2);
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    margin-bottom: 40px;
  }
  
  .projects-item:not(:nth-child(-n+2)) {
    margin-bottom: 0;
  }
  
  .projectewarb{
    position: relative;
    overflow: hidden;
  }
  
  
  .projects-item:hover{
    .project-oworled{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .project-oworled{
    font-size: 20px;
    color: white;
    background-color:  rgba(33, 150, 243, 0.90);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    padding: 100px 20px;
    border-radius: 0 73px 0 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: 2s;
  }
  
  
  .projects-item-img {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .projects-item-title {
    width: 505px;
    color: var(--title-color);
    font-family: "DM Serif Display";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.22px;
  }
  
  .projects-item-text {
    color: var(--text-color);
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.22px;
  }
  
  .projects-item-btn {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background: var(--bcg-color);
    border: none;
  }
  
  .projects-item-btn:hover{
    background-color: gray;
    .projects-btn-img{
      fill: white;
    }
  }
  
  .projects-btn-img {
    width: 9px;
    height: 16px;
    margin-right: auto;
    margin-left: auto;
    fill: #cda274;
  }